:root {
    --padding: 20px;
}

.pixel {
    box-sizing: border-box;
    padding: var(--padding);
    border: 1px solid gray;
}

.fill {
    background-color: black;
}
.row {
    display: flex;
    justify-content: center;
}
.container {
    height: 100vh;
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 50px;
    flex-grow: 0;
}